<%= render 'navbar' %>

<body>
  <div style="margin-top: 8%; font-size: 135%; margin-left: 5%; margin-bottom: -0.75%;">
    <%= name %>
  </div>
  <hr class="" style="width: 90%; margin-left: 5%; margin-right: 5%;"/>


  <div class="hero" style="height: 50%; margin-top: 7%;">
    <section class=" hero-body tile is-ancestor">
      <div class="tile is-parent" style="height: 100%; width: 100%;">
        <article class="tile is-child has-background-grey notification">
          <p>HELLO 1</p>
        </article>

        <article class="tile is-child has-background-warning notification">
          <p>HELLO 2</p>
        </article>

        <article class="tile is-child has-background-info notification">
          <p>HELLO 3</p>
        </article>
      </div>
    </section>
  </div>

</body>
