<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="stylesheet" href="/stylesheets/debug.css"> -->
	</head>
	<body>

		<%= render "navbar" %>

		<section class="hero is-info is-large is-bold">
		  <div class="hero-body">
		    <div class="container has-text-centered">
					<div class="title is-1">Everything You Need To Know About Tutorhacks</div>
		    </div>
		  </div>
		</section>

		<section class="hero-body">
			<div class="title has-text-centered has-text-black" style="margin-bottom: 3%;">
				<b><i>Choosing Your Path</i></b>
			</div>

			<div class="tile is-ancestor">
			  <div class="tile is-parent">
			  	<div class="tile is-child notification is-dark">

						<div class="has-text-centered title">Tutor</div>
						<hr class="" style="margin-top: -3%; margin-left: 5%; margin-right: 5%;">

						<ul class="is-size-5">
							<li class="pt4">- Firstly you must create an <a href="<%= new_user_registration_path %>" class="#">account</a>.</li>
							<li class="pt4">- When you do, make sure that the plan you select is the tutor plan.</li>
							<li class="pt4">- When you have filled out the firm correctly. Hit sign up and it'll take you to the next stage.</li>
							<li class="pt4">- It'll now take you to a billing page for the subscription</li>
							<li class="pt4">- After that you now need to creating your fully customizable profile</li>
							<li class="pt4">- After filling out the form click create. Then it'll show you what your profile looks like to other users.</li>
							<li class="pt4">- Press continue and now all student users and search your name.</li>
						</ul>

			  	</div>
			  </div>
			  <div class="tile is-parent">
			  	<div class="tile is-child notification is-warning">

						<div class="has-text-centered title">Student</div>
						<hr class="" style="background-color: black; margin-top: -3%; margin-left: 5%; margin-right: 5%;">

						<ul class="is-size-5">
							<li class="pt4">- Firstly you must create an <a href="<%= new_user_registration_path %>" class="#">account</a>.</li>
							<li class="pt4">- When you do, make sure that the plan you select is the student plan.</li>
							<li class="pt4">- When you have filled out the firm correctly. Hit sign up and it'll take you to the next stage.</li>
							<li class="pt4">- Now to the fun part, creating your profile. If you are under 18 years of age you will need to have a secondary email address, preferable and gaurdian or parent.</li>
							<li class="pt4">- After filling out the form click create. Then it'll show you what your profile looks like to other users.</li>
							<li class="pt4">- Press continue and your now free to start browsing for a tutor.</li>
						</ul>

			  	</div>
			  </div>
			</div>
		</section>


    <%= render "footer" %>


	</body>
</html>
