<%= render "navbar" %>

		<section class="hero is-info is-large is-bold">
		  <div class="hero-body">
		    <div class="container has-text-centered">
					<div class="title is-1"><b>Everything You Need To Know About Tutorhacks</b></div>
		    </div>
		  </div>
		</section>

		<section class="hero-body"> <!-- Add "mb5" to class when tutor count is uncommented -->
			<div class="title has-text-centered has-text-black" style="margin-bottom: 3%;">
				<!-- <b><i>Choosing Your Path</i></b> -->
			</div>

			<div class="tile is-ancestor" style="margin-bottom: 5%;">
				<div class="tile is-parent" style="padding-left: 5%; margin-right: -3%;">
					<div class="tile is-child">
						<div class="title">About Us</div>
						<div class="subtitle pr4 pt2">This is the subtitle.</div>
					</div>
				</div>
				<div class="tile is-parent is-vertical">
					<div class="tile is-child">
						<div class="title">Our Mission</div>
						<div class="subtitle pr5 pt2">Our mission is to make it easier for students to complete their homework. With Tutorhacks we think that we've done just that. Our platform for allows students to search for tutors that have also signed up. Everything is built to be very easy to use, even a kid could navigate our website.</div>
					</div>
					<div class="tile is-child pt3">
						<div class="title">Safety</div>
						<div class="subtitle pr5 pt2">Safety is our number one priority. Our safety measures include if you are a student and you are under the age of 18 you have to supply a secondary email, who are notifiedof everything you are doing.</div>
					</div>
				</div>
			</div>
		</section>

		<!-- <section class="hero is-medium mb3 about-tutor-count" style="margin-top: -5%;">
			<div class="hero-body has-text-centered">
				<div class="title is-size-2">Tutor Count</div>
				<div class="subtitle pt3" style="font-size: 175%;">
					<#%= Tutor.count %>
				</div>
				<!-- <div class="subtitle is-size-4 mt5">Find one in your area</div> -->
			<!-- </div>
		</section> -->

		<section class="hero is-medium is-bold" style="background-color: #343477;">
		  <div class="hero-body">
		    <div class="container">
		      <h1 class="title has-text-white">
						Are you ready to get started?

						<div class="" style="float: right;">
							<a class="button is-large is-white is-capitalized" href="<%=new_user_registration_path %>">Create an account</a>
							<!-- <a class="button is-large is-white is-outlined is-capitalized" href="<#%= home_about_path %>">More about us</a> -->
						</div>
		      </h1>
		    </div>
		  </div>
		</section>


    <%= render "footer" %>
