<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="stylesheet" href="/stylesheets/debug.css"> -->
	</head>
	<body>

		<%= render "navbar" %>

		<section class="hero is-dark is-fullheight is-bold">
		  <div class="hero-body" style="margin-bottom: -15%;">
		    <div class="container">
					<div class="title is-1">Let us Help you</div>
					<div class="subtitle mt2" style="width: 45%;">Sometimes completing your homework can be difficult, find someone who can help. Sign up for free today.</div>
					<a class="button is-link is-rounded" href="<%= new_user_registration_path %>" style="min-width: 20%; font-size: 145%;">Sign up</a>
		    </div>
		  </div>

			<img src="http://www.clker.com/cliparts/1/u/d/Z/I/c/speech-bubble-md.png" alt="asdf" class="student-speech-bubble">
			<img src="https://img.clipartxtras.com/28fac245419cc9e53f9453bbf87a45a3_smart-student-clipart-a-clipart-transparent-background_352-413.png" alt="asdf" class="student-a">
			<img src="https://loinhacviet.info/images/student-clipart-transparent-background-3.png" alt="" class="home-image" style="height: 45%; width: 35%;">

			<div class="arrow bounce has-text-centered mb3">
			  <a class="fa fa-arrow-down fa-2x" href="#"></a>
			</div>
		</section>

		<section class="hero-body mb4">
			<div class="title has-text-centered has-text-black" style="margin-bottom: 5%;">
				<b><i>Why Tutorhacks?</i></b>
			</div>

			<div class="tile is-ancestor is-vertical">
				<div class="tile is-parent notifaction has-text-white">
					<div class="tile is-child notifaction has-background-info notification is-7" style="height: 350px;">
						<p class="title">Quick</p>
          	<p class="subtitle">Top tile</p>
					</div>
					<div class="tile is-child"></div>
				</div>

				<div class="tile is-parent notifaction has-text-white">
					<div class="tile is-child"></div>
					<div class="tile is-child notifaction has-background-info notification is-7" style="height: 350px;">
						<p class="title">Effective</p>
          	<p class="subtitle">It really is effective and easy to use. Our simple user interface makes it easy to navigate</p>
					</div>
				</div>

				<div class="tile is-parent notifaction has-text-white">
					<div class="tile is-child notifaction has-background-info notification is-7" style="height: 350px;">
						<p class="title">Safe</p>
          	<p class="subtitle">Safety is our number one priority. Our safety measures include if you are a student and you are under the age of 18 you have to supply a secondary email, who are notifiedof everything you are doing.</p>
					</div>
					<div class="tile is-child"></div>
				</div>
			</div>
		</section>

		<%= render "footer" %>

	</body>
</html>
