<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="stylesheet" href="/stylesheets/debug.css"> -->
	</head>
	<body>

		<%= render "navbar" %>

		<section class="hero has-background-info is-large is-bold">
		  <div class="hero-body">
		    <div class="container has-text-centered">
					<div class="title is-1 has-text-white">Stats About Tutorhacks</div>
		    </div>
		  </div>
		</section>

		<section class="hero-body">

		</section>


    <%= render "footer" %>


	</body>
</html>
